@media(max-width: 1230px) {
    .form {
        width: auto;
        height: auto;

        &__input-wrapper {
            &_location {
                width: 300px;
            }
    
            &_activity{
                width: 180px;
            }
    
            &_date {
                width: 200px;
            }
    
            &_guests {
                width: 140px;
            }
            
        }
    }
}

@media (max-width: 1139px) {

    .header {
        height: auto;
        min-height: 500px;
        border-radius: 0 0 40px 40px;

        &__title {
            font-size: 2rem;
        }
    }

    .container {
        &_header {
           justify-content: flex-start;
           row-gap: 90px;
        }
    }
    
    .nav-list {
        display: none;
    }

    .user {
        display: none;
    }

    .mobile-nav-btn {
        display: inherit;
    }

    .main {
        padding: 40px 0px;
        display: grid;
        row-gap: 60px;
    }

    .section {
        &__header {
            margin-bottom: 34px;
        }

        &__title {
            font-size: 1.625rem;
        }

        &__cards {
            &_six-in-row {
                grid-template-columns: repeat(3, 1fr);
            }

            &_four-in-row {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    .card {
        &__text {
            font-size: 0.875rem;
        }
    }

    .about-us {
        &__text {
            font-size: 0.875rem;
        }

        &__title {
            font-size: 1.625rem;
        }
    }
    
    .footer {
        padding: 60px 0;
        
        &__row {
            grid-template-columns: 1fr 3fr;
        }

        &__subscribe {
            width: 100%;
            grid-column: 1/-1;
        }
    }
}

@media (max-width: 1040px) {
    .form {
        width: auto;
        height: auto;
        flex-direction: column;

        &__input-wrapper {
            width: 100%;  
        }
    }

    .button {
        &_search {
            width: 100%;
        }
    }

    .section {
        &__cards {
            &_two-in-row {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media(max-width: 640px) {
    .section {
        &__cards {
            &_six-in-row {
                grid-template-columns: repeat(2, 1fr);
            }

            &_four-in-row {
                grid-template-columns: 1fr;
            }
        }
    }

    .card {
        &_tips {
            grid-template-columns: 1fr;
            row-gap: 10px;
        }
    }

    .about-us {
        &__description {
            row-gap: 18px;
        }

        grid-template-columns: 1fr;
        row-gap: 16px;
    }

    .footer {
        &__row {
            grid-template-columns: 1fr;
            row-gap: 48px;
        }
    }
}

@media(max-width: 600px) {
    .button {
        &_huge {
            padding: 12px;
            font-size: 1rem;
        }
    }

    .autoComplete_wrapper > input {
        width: auto !important;
    }
}

@media(max-width: 500px) {
    .section {
        &__title {
            line-height: 1.625rem;
        }
   }
}

@media(max-width: 440px) {
    .section {
        &__header {
            column-gap: 15px;
        }

        &__title {
            font-size: 1.25rem;
            line-height: 1.25rem;
        }

        &__cards {
            &_six-in-row {
                grid-template-columns: 1fr;
            }
        }
    }

    .footer {
        &__nav-wrapper {
            display: flex;
            column-gap: 20px;
            justify-content: space-between;
        }
    }
}


@media(max-width: 375px) {
    .footer {
        &__nav-wrapper {
            flex-direction: column;
            row-gap: 32px;
        }

        &__nav {
            gap: 15px;
        }

        &__nav-list {
            justify-items: center;
            gap: 6px;
        }

        &__nav-title {
            text-align: center;
        }

        &__nav-item a {
            width: 100%;
        }
    }
}